@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@plugin "daisyui" {
    themes: light --default;
}

@theme {
    --font-Inter: "Inter", "sans-serif";

    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --breakpoint-xxl: 1400px;

    --color-body-bg: #F5F5F5;
    --color-heading: #001931;
    --color-body-text: #627382;
    --color-body-bg-2: #001931;
    /* --color-gu: linear-gradient(125.04deg, #632EE3 5.68%, #9F62F2 88.38%); */
    --color-linear-1: #632EE3;
    --color-linear-2: #9F62F2;
}

html,
body {
    @apply scroll-smooth;
}

body {
    @apply bg-body-bg font-Inter text-body-text;
}

p {
    @apply leading-[1.8];
}

.container {
    @apply mx-auto sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1140px] xxl:max-w-[1320px] px-3;
}

.linear-gradient-1 {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-[#632EE3] to-[#9F62F2];
}

/* ========== Header ========== */
header .menu li {
    @apply font-medium text-base px-4
}

header .menu li a {
    @apply rounded-none;
}

header .menu li a.active {
    @apply border-b-2 border-red-500 text-transparent bg-clip-text bg-gradient-to-r from-[#632EE3] to-[#9F62F2];
}

header .menu li a:hover {
    @apply bg-transparent;
}